In [1]:
# Import the pandas and numpy package
import pandas as pd
import numpy as np

In [2]:
# Load the dataset into dataframe, display the first 5 rows
df = pd.read_csv('../data/raw/day.csv')
df.head()

,instant,dteday,season,yr,mnth,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,casual,registered,cnt
0,1,2011-01-01,1,0,1,0,6,0,2,0.344167,0.363625,0.805833,0.160446,331,654,985
1,2,2011-01-02,1,0,1,0,0,0,2,0.363478,0.353739,0.696087,0.248539,131,670,801
2,3,2011-01-03,1,0,1,0,1,1,1,0.196364,0.189405,0.437273,0.248309,120,1229,1349
3,4,2011-01-04,1,0,1,0,2,1,1,0.200000,0.212122,0.590435,0.160296,108,1454,1562
4,5,2011-01-05,1,0,1,0,3,1,1,0.226957,0.229270,0.436957,0.186900,82,1518,1600

In [3]:
# Display the dimensions (shape) 
df.shape

(731, 16)

In [4]:
# Display the summary (info) 
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 731 entries, 0 to 730
Data columns (total 16 columns):
instant       731 non-null int64
dteday        731 non-null object
season        731 non-null int64
yr            731 non-null int64
mnth          731 non-null int64
holiday       731 non-null int64
weekday       731 non-null int64
workingday    731 non-null int64
weathersit    731 non-null int64
temp          731 non-null float64
atemp         731 non-null float64
hum           731 non-null float64
windspeed     731 non-null float64
casual        731 non-null int64
registered    731 non-null int64
cnt           731 non-null int64
dtypes: float64(4), int64(11), object(1)
memory usage: 91.5+ KB

In [5]:
# Display the descriptive statistics 
df.describe()

,instant,season,yr,mnth,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,casual,registered,cnt
count,731.000000,731.000000,731.000000,731.000000,731.000000,731.000000,731.000000,731.000000,731.000000,731.000000,731.000000,731.000000,731.000000,731.000000,731.000000
mean,366.000000,2.496580,0.500684,6.519836,0.028728,2.997264,0.683995,1.395349,0.495385,0.474354,0.627894,0.190486,848.176471,3656.172367,4504.348837
std,211.165812,1.110807,0.500342,3.451913,0.167155,2.004787,0.465233,0.544894,0.183051,0.162961,0.142429,0.077498,686.622488,1560.256377,1937.211452
min,1.000000,1.000000,0.000000,1.000000,0.000000,0.000000,0.000000,1.000000,0.059130,0.079070,0.000000,0.022392,2.000000,20.000000,22.000000
25%,183.500000,2.000000,0.000000,4.000000,0.000000,1.000000,0.000000,1.000000,0.337083,0.337842,0.520000,0.134950,315.500000,2497.000000,3152.000000
50%,366.000000,3.000000,1.000000,7.000000,0.000000,3.000000,1.000000,1.000000,0.498333,0.486733,0.626667,0.180975,713.000000,3662.000000,4548.000000
75%,548.500000,3.000000,1.000000,10.000000,0.000000,5.000000,1.000000,2.000000,0.655417,0.608602,0.730209,0.233214,1096.000000,4776.500000,5956.000000
max,731.000000,4.000000,1.000000,12.000000,1.000000,6.000000,1.000000,3.000000,0.861667,0.840896,0.972500,0.507463,3410.000000,6946.000000,8714.000000

## 2. Prepare Data

In [6]:
#  Create a copy of df and save it into a variable called df_cleaned
df_cleaned = df.copy()

In [7]:
# Remove the column 'instant' from the dataframe
df_cleaned.drop('instant', axis=1, inplace=True)

## Build a function to convert into datetime
**[2.1]** In `src/features/` create a file called `dates.py`. Inside it you will define a function called `convert_to_date` with the following logics:
- input parameters: dataframe (df) and list of column names (cols)
- logics: convert all columns in cols into datetime
- output parameters: transformed dateframe

In [8]:
# Solution
def convert_to_date(df, cols:list):
    """Convert specified columns from a Pandas dataframe into datetime

    Parameters
    ----------
    df : pd.DataFrame
        Input dataframe
    cols : list
        List of columns to be converted

    Returns
    -------
    pd.DataFrame
        Pandas dataframe with converted columns
    """
    import pandas as pd
    
    for col in cols:
        if col in df.columns:
            df[col] = pd.to_datetime(df[col])
    return df

In [17]:
# Launch magic commands to automatically reload modules
%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [18]:
# Import your new function convert_to_date from src.features.dates
from src.features.dates import convert_to_date

In [19]:
# Convert the column dteday with your function convert_to_date
df_cleaned = convert_to_date(df_cleaned, ['dteday'])

In [20]:
# Extract the year component from dteday and save the results in the column yr
df_cleaned['yr'] = df_cleaned['dteday'].dt.year

In [21]:
# Extract the month name component from dteday and save the results in the column mnth
df_cleaned['mnth'] = df_cleaned['dteday'].dt.month_name()

In [22]:
# Extract the day of week component from dteday and save the results in the column weekday
df_cleaned['weekday'] = df_cleaned['dteday'].dt.day_name()

### Create a dictionary called season_mapping with the following key-value pairs:

1: 'winter',<br>
2: 'spring',<br>
3: 'summer',<br>
4: 'autumn',<br>

In [23]:
# Create a dictionary called season_mapping
season_mapping = {
    1: 'winter',
    2: 'spring',
    3: 'summer',
    4: 'autumn',
}

In [24]:
# Remap the values of season to the one specified in season_mapping
df_cleaned['season'] = df_cleaned['season'].map(season_mapping)

### Create a dictionary called weather_mapping with the following key-value pairs:

1: 'clear',<br>
2: 'cloudy',<br>
3: 'rain',<br>
4: 'heavy'<br>

In [25]:
# Create a dictionary called weather_mapping
weather_mapping = {
    1: 'clear',
    2: 'cloudy',
    3: 'rain',
    4: 'heavy'
}

In [26]:
# Remap the values of weathersit to the one specified in weather_mapping
df_cleaned['weathersit'] = df_cleaned['weathersit'].map(weather_mapping)

In [27]:
# Change the value of holiday to 1 for the observation where dteday is 2011-01-01
df_cleaned.loc[df_cleaned['dteday'] == '2011-01-01', 'holiday'] = 1

In [28]:
# Create a new column called holiday_date with only missing values and convert this column to datetime
df_cleaned['holidaydate'] = np.nan
df_cleaned = convert_to_date(df_cleaned, ['holidaydate'])

In [29]:
# Create a binary variable called holiday_mask that will state which observations have the value 1 in column holiday
holiday_mask = df_cleaned['holiday'] == 1

In [30]:
# Change the values of holidaydate to be equals to dteday for all the observations that have the value 1 in column holiday (use holiday_mask)
df_cleaned.loc[holiday_mask, 'holidaydate'] = df_cleaned.loc[holiday_mask, 'dteday']

In [31]:
# Create a new column called last_holiday that will be equals to holidaydate but with forward filling for missing values 
# (https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.fillna.html)
df_cleaned['last_holiday'] = df_cleaned['holidaydate'].fillna(method='ffill')

In [32]:
# Create a new column called last_holiday that will be equals to holidaydate but with back filling for missing values
df_cleaned['next_holiday'] = df_cleaned['holidaydate'].fillna(method='bfill')

In [33]:
# Replace missing values for next_holiday with the timestamp '2013-01-01`
df_cleaned['next_holiday'].fillna(pd.Timestamp('2013-01-01'), inplace=True)

In [34]:
# Calculate the number of days for each observation between the current date and last holiday date. Save the results in a new column called days_last_holiday
df_cleaned['days_last_holiday'] = (df_cleaned['dteday'] - df_cleaned['last_holiday']).dt.days

In [35]:
# Calculate the number of days for each observation between the current date and next holiday date. Save the results in a new column called days_next_holiday
df_cleaned['days_next_holiday'] = (df_cleaned['next_holiday'] - df_cleaned['dteday']).dt.days

In [36]:
# Create a variable called cat_cols that contains the names of the categorical columns
cat_cols = ['season','mnth','holiday','weekday','workingday','weathersit']

In [37]:
# Perform One-Hot encoding on the categorical features
df_cleaned = pd.get_dummies(df_cleaned, columns=cat_cols)

In [38]:
# Save the dataframe in the /data/interim folder
df_cleaned.to_csv('../data/interim/day.csv', index=False)

In [39]:
# Remove the following columns: 'dteday', 'holidaydate', 'last_holiday', 'next_holiday'
df_cleaned.drop(['dteday', 'holidaydate', 'last_holiday', 'next_holiday'], axis=1, inplace=True)

In [44]:
df_cleaned.info()

## 3. Split Dataset
<b>[3.1]</b> In src/data/ create a file called sets.py. Inside it you will define a function called <b>subset_x_y</b> with the following logics:
<br>
- input parameters: dataframe (target), dataframe (features), integer (start_index) and integer (end_index)<br>
- logics: subset the target and features based on the specifies indexes<br>
- output parameters: subsetted the target and features<br>

In [45]:
# Create a subset function in src/data/sets.py
def subset_x_y(target, features, start_index:int, end_index:int):
    """Keep only the rows for X and y sets from the specified indexes

    Parameters
    ----------
    target : pd.DataFrame
        Dataframe containing the target
    features : pd.DataFrame
        Dataframe containing all features
    features : int
        Index of the starting observation
    features : int
        Index of the ending observation

    Returns
    -------
    pd.DataFrame
        Subsetted Pandas dataframe containing the target
    pd.DataFrame
        Subsetted Pandas dataframe containing all features
    """
    
    return features[start_index:end_index], target[start_index:end_index]

<b>[3.2]</b> Inside the file src/data/sets.py you will define a function called <b>split_sets_by_time</b>w ith the following logics:
<br>
input parameters: dataframe (df), column name of the target (target_col) and ratio for splitting (test_ratio default: 0.2)<br>
logics: convert all columns in cols into datetime<br>
output parameters: features and target for training, validation and testing sets<br>

In [46]:
# Create a function in src/data/sets.py
def split_sets_by_time(df, target_col, test_ratio=0.2):
    """Split sets by indexes for an ordered dataframe

    Parameters
    ----------
    df : pd.DataFrame
        Input dataframe
    target_col : str
        Name of the target column
    test_ratio : float
        Ratio used for the validation and testing sets (default: 0.2)

    Returns
    -------
    Numpy Array
        Features for the training set
    Numpy Array
        Target for the training set
    Numpy Array
        Features for the validation set
    Numpy Array
        Target for the validation set
    Numpy Array
        Features for the testing set
    Numpy Array
        Target for the testing set
    """
    
    df_copy = df.copy()
    target = df_copy.pop(target_col)
    cutoff = int(len(target) / 5)
    
    X_train, y_train = subset_x_y(target=target, features=df_copy, start_index=0, end_index=-cutoff*2)
    X_val, y_val     = subset_x_y(target=target, features=df_copy, start_index=-cutoff*2, end_index=-cutoff)
    X_test, y_test   = subset_x_y(target=target, features=df_copy, start_index=-cutoff, end_index=len(target))

    return X_train, y_train, X_val, y_val, X_test, y_test

**[3.3]** Inside the file `src/data/sets.py` you will define a function called `save_sets` with the following logics:
- input parameters: features and target for training, validation and testing sets and path to folder (`path`)
- logics: save the different sets locally with numpy if they exist
- output parameters: None

In [47]:
# Create a function in src/data/sets.py

def save_sets(X_train=None, y_train=None, X_val=None, y_val=None, X_test=None, y_test=None, path='../data/processed/'):
    """Save the different sets locally

    Parameters
    ----------
    X_train: Numpy Array
        Features for the training set
    y_train: Numpy Array
        Target for the training set
    X_val: Numpy Array
        Features for the validation set
    y_val: Numpy Array
        Target for the validation set
    X_test: Numpy Array
        Features for the testing set
    y_test: Numpy Array
        Target for the testing set
    path : str
        Path to the folder where the sets will be saved (default: '../data/processed/')

    Returns
    -------
    """
    import numpy as np

    if X_train is not None:
        np.save(f'{path}X_train', X_train)
    if X_val is not None:
        np.save(f'{path}X_val',   X_val)
    if X_test is not None:
        np.save(f'{path}X_test',  X_test)
    if y_train is not None:
        np.save(f'{path}y_train', y_train)
    if y_val is not None:
        np.save(f'{path}y_val',   y_val)
    if y_test is not None:
        np.save(f'{path}y_test',  y_test)

**[3.4]** Inside the file `src/data/sets.py` you will define a function called `load_sets` with the following logics:
- input parameters: path to folder (`path`)
- logics: load the different locally saved sets if they exist
- output parameters: features and target for training, validation and testing sets

In [48]:
# Create a function in src/data/sets.pys

def load_sets(path='../data/processed/', val=False):
    """Load the different locally save sets

    Parameters
    ----------
    path : str
        Path to the folder where the sets are saved (default: '../data/processed/')

    Returns
    -------
    Numpy Array
        Features for the training set
    Numpy Array
        Target for the training set
    Numpy Array
        Features for the validation set
    Numpy Array
        Target for the validation set
    Numpy Array
        Features for the testing set
    Numpy Array
        Target for the testing set
    """
    import numpy as np
    import os.path

    X_train = np.load(f'{path}X_train.npy') if os.path.isfile(f'{path}X_train.npy') else None
    X_val   = np.load(f'{path}X_val.npy'  ) if os.path.isfile(f'{path}X_val.npy')   else None
    X_test  = np.load(f'{path}X_test.npy' ) if os.path.isfile(f'{path}X_test.npy')  else None
    y_train = np.load(f'{path}y_train.npy') if os.path.isfile(f'{path}y_train.npy') else None
    y_val   = np.load(f'{path}y_val.npy'  ) if os.path.isfile(f'{path}y_val.npy')   else None
    y_test  = np.load(f'{path}y_test.npy' ) if os.path.isfile(f'{path}y_test.npy')  else None
    
    return X_train, y_train, X_val, y_val, X_test, y_test

In [49]:
# Import your new function split_sets_by_time and split the data into several sets
from src.data.sets import split_sets_by_time

X_train, y_train, X_val, y_val, X_test, y_test = split_sets_by_time(df_cleaned, 'cnt', test_ratio=0.2)

In [50]:
# Import your new function and save the sets into the folder data/processed
from src.data.sets import save_sets

save_sets(X_train, y_train, X_val, y_val, X_test, y_test, path='../data/processed/')

### 4. Baseline Model

In [51]:
# Calculate the average of the target variable for the training set and save it into a variable called y_mean
y_mean = y_train.mean()

In [52]:
# Create a numpy array called y_base of dimensions (len(y_train), 1) filled with this value
y_base = np.full((len(y_train), 1), y_mean)

**[4.1]** In `src/models/` create a file called `performance.py`. Inside it you will define a function called `print_reg_perf` with the following logics:
- input parameters: predicted target (`y_preds`), actual target (`y_actuals`) and name of the set (`set_name`)
- logics: Print the RMSE and MAE for the provided data
- output parameters: None

In [53]:
# Create a function in src/models/performance.py

def print_reg_perf(y_preds, y_actuals, set_name=None):
    """Print the RMSE and MAE for the provided data

    Parameters
    ----------
    y_preds : Numpy Array
        Predicted target
    y_actuals : Numpy Array
        Actual target
    set_name : str
        Name of the set to be printed

    Returns
    -------
    """
    from sklearn.metrics import mean_squared_error as mse
    from sklearn.metrics import mean_absolute_error as mae
    
    print(f"RMSE {set_name}: {mse(y_actuals, y_preds, squared=False)}")
    print(f"MAE {set_name}: {mae(y_actuals, y_preds)}")

In [54]:
# Display the RMSE and MAE scores of this baseline model
from src.models.performance import print_reg_perf

print_reg_perf(y_preds=y_base, y_actuals=y_train, set_name='Training')

RMSE Training: 1324.7868420297616
MAE Training: 1132.7364532147508

### 5.   Push changes to Git

In [ ]:
# Add you changes to git staging area
git add .

# Create the snapshot of your repository and add a description
git commit -m "linear regression with poly 2"

# Push your snapshot to Github
git push

In [ ]:
# Check out to the master branch
git checkout master

# Pull the latest updates
git pull

In [ ]:
# Check out to the data_prep branch
git checkout data_prep

# Merge the master branch and push your changes
git merge master
git push

### Go to Github and merge the branch after reviewing the code and fixing any conflict

In [ ]:
# Stop the Docker container in the terminal
docker stop adv_dsi_lab_2